### PhpStorm ###
.idea

### VSCode ###
.history
.vscode
.ionide
.code-workspace

###> friendsofphp/php-cs-fixer ###
/.php-cs-fixer.php
/.php-cs-fixer.cache
###< friendsofphp/php-cs-fixer ###

### CYpress ###
cypress.env.json

### DB ###
mysql/*
portainer/*

### Draw.io ###
*.bkp
*.dtmp

### Docker ###
.env