<?xml version="1.0" encoding="UTF-8"?>
<!-- https://phpunit.readthedocs.io/en/latest/configuration.html -->
<phpunit xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:noNamespaceSchemaLocation="https://schema.phpunit.de/11.3/phpunit.xsd" bootstrap="tests/bootstrap.php" colors="true" beStrictAboutTestsThatDoNotTestAnything="false" cacheDirectory=".phpunit.cache">
  <coverage>
    <report>
      <clover outputFile="var/coverage/clover.xml"/>
      <html outputDirectory="var/coverage/html"/>
      <text outputFile="var/coverage/text.txt"/>
    </report>
  </coverage>
  <testsuites>
    <testsuite name="Project Test Suite">
      <directory>tests</directory>
    </testsuite>
  </testsuites>
  <php>
    <ini name="error_reporting" value="-1"/>
    <ini name="memory_limit" value="2G"/>
    <env name="APP_ENV" value="test"/>
    <env name="SHELL_VERBOSITY" value="-1"/>
  </php>
  <source>
    <include>
      <directory suffix=".php">src</directory>
    </include>
    <exclude>
      <directory suffix=".php">src/DataFixtures</directory>
    </exclude> 
  </source>
  <!-- phpunit.xml.dist -->
  <extensions>
      <extension class="Symfony\Component\Panther\ServerExtension" />
  </extensions>
</phpunit>
