<turbo-frame id="formulaire_saisie">
    <div class="flex flex-row justify-center items-center p-2 gap-2">
        <a target="_self" class="btn btn-accent btn-outline" id="btnReturn" href="{{ path('deconnexion') }}">
            Quitter
        </a>
    </div>
</turbo-frame>