<!DOCTYPE html>
<html lang="fr">
    <head>
        <meta charset="UTF-8">
        <title>
            Gruau |
            {% block title %}{% endblock %}
        </title>
        <meta name="turbo-visit-control" content="reload">
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <meta name="description" content="template">
        <link rel="manifest" href="{{ asset('manifest/manifest.webmanifest') }}">
        <link rel="icon" href="images/favicon_light.ico" media="(prefers-color-scheme: light)">
        <link rel="icon" href="images/favicon_dark.ico"  media="(prefers-color-scheme: dark)">
        {% block stylesheets %}
            {{ encore_entry_link_tags('app') }}
        {% endblock %}
        {% block javascripts %}
            {% include 'javascripts.html.twig' %}
        {% endblock %}
        <!-- Matomo -->
        <script>
            var _paq = window._paq = window._paq || [];
            /* tracker methods like "setCustomDimension" should be called before "trackPageView" */
            _paq.push(["setExcludedReferrers", ["sso.gruau.com"]]);
            _paq.push(['trackPageView']);
            _paq.push(['enableLinkTracking']);
            (function() {
                var u="https://matomo.gruau.com/";
                _paq.push(['setTrackerUrl', u+'matomo.php']);
                _paq.push(['setSiteId', '11']);
                var d=document, g=d.createElement('script'), s=d.getElementsByTagName('script')[0];
                g.async=true; g.src=u+'matomo.js'; s.parentNode.insertBefore(g,s);
            })();
        </script>
        <!-- End Matomo Code -->
    </head>
    <body class="flex flex-col min-h-[100vh]">
        <header class="invisible">
            {% block navbar %}
                {% include 'navbar.html.twig' %}
            {% endblock %}
        </header>
        <section id="boxAlertMessage" class="invisible">
            {% include 'alert.html.twig' %}
        </section>
        <div id="loader">
            <img class="scale-down-tl" src="{{ asset('images/logo-symbole-haut.svg') }}">
            Chargement
            <img class="scale-down-br" src="{{ asset('images/gruau-symbole-bas.svg') }}">
        </div>
        <main class="invisible">
            {% block body %}{% endblock %}
        </main>
        <footer class="mt-auto invisible">
            {% include 'footer.html.twig' %}
        </footer>
    </body>
</html>
