{% extends 'base.html.twig' %}

{% block title %}
Console d'approbation
{% endblock %}

{% block body %}
        <h1 class="text-center m-10 text-4xl text-gruau-dark-blue font-bold">Console d'approbation</h1>

{% endblock %}
