<footer class="bg-gruau-dark-blue shadow w-full">
    <div class="max-w-[2000px] flex flex-col md:flex-row items-center mx-auto p-4 text-white justify-between">
        <div class="md:w-1/3 w-max">
            <a href="{{ path('home') }}" class="flex  justify-self-start items-center my-2">
                <img src="https://cdn.gruau.com/image/logo/grp-reversed-baseline.svg" class="h-8" alt="Gruau Logo" />
            </a>
        </div>
        <span class="block md:w-1/3 my-2 w-max  text-sm text-center">© 2025 <a href="https://www.groupegruau.com/" target="_blank" class="hover:underline noLoading ">Groupe Gruau™</a>. 'Tous droits réservés.</span>
        <hr class="my-2 border-white w-1/2 text-center md:hidden"  />
        <div class="md:w-1/3 w-max text-right">
            <a href="https://supportinfo.gruau.com/glpi/plugins/formcreator/front/wizard.php" class="hover:underline noLoading  " target="_blank">Support informatique</a>
        </div>
    </div>
</footer>
